# Docker workspace artifacts
docker/build/
docker/install/
docker/log/

# ROS2 colcon artifacts
humble_ws/build/
humble_ws/install/
humble_ws/log/


# Bag recordings (large binary data, not tracked)
humble_ws/bags/*/
